.u-section-1 .u-sheet-1 {
  min-height: 861px;
}

.u-section-1 .u-image-1 {
  width: 416px;
  height: 404px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 846px;
  margin: 44px auto 50px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 303px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 27px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 84px 16px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.6;
  margin: 26px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 303px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 23px;
  }

  .u-section-1 .u-layout-cell-2 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-1 .u-image-1 {
    height: 420px;
    width: 414px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-1 .u-image-1 {
    height: 345px;
    width: 340px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 664px;
}

.u-section-2 .u-text-1 {
  font-family: Cambay;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 134px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 339px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-family: Cambay;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  line-height: 25.6px;
  margin: 20px 0 0;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 28px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-family: Cambay;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 36px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-family: Cambay;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-icon-9 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-9 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-9 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-12 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 643px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}